<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ansible: Automation for Everyone</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<table style="width:100%;text-align:center;">
<tr>
    <td style="width:5%;">&nbsp;</td>
    <td style="width:90%;text-align:center;">

        <div style="text-align:center;">
        <table style="width:800px;border:2pt solid black;background-color:#808080;">
        <tr>
            <td style="width:130px;color:white;"><div class="arial_16"><b>This Host</b></div></td>
            <td style="width:450px;background-color:#f0f0f5;"><div class="arial_16">{{ name }}</div></td>
        <tr>            
        <tr>
            <td style="width:130px;color:white;"><div class="arial_16"><b>Test Message</b></div></td>
            <td style="width:450px;background-color:#f0f0f5;"><div class="arial_16">{{ iis_test_message }}</div></td>
        <tr>
        </table>
        </div>

        </br>

        <table style="width:800px;border: 0px solid black;background-color:black;">
        <tr>
            <td style="text-align:center;">
                <div>
                    <img style="width:700px;" src="ansible-tower.png"/>
                    </br></br>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="arial_16" style="font-style:bold;color:#ff0000;text-align:center;">
                    Ansible is the easiest Automation you can use today</br>for your entire IT Infrastructure
                    </br></br>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td style="width:120px;"><div style="font-weight:bold;color:gainsboro;">EASY</div></td>
                        <td>
                            <div style="font-weight:bold;color:darkgrey;">
                                Ansible uses human language, not programming scripts.</br>
                                It is very quick to learn and knowledge sharing becomes very easy</br></br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:120px;"><div style="font-weight:bold;color:gainsboro;">POWERFUL</div></td>
                        <td>
                            <div style="font-weight:bold;color:darkgrey;">
                                Ansible is shipped with thousands of modules which integrate to countless vendors out there
                                </br></br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:120px;"><div style="font-weight:bold;color:gainsboro;">AGENTLESS</div></td>
                        <td>
                            <div style="font-weight:bold;color:darkgrey;">
                                You do not need to install any software or agents on the remote machines</br></br>
                            </div>
                        </td>
                    </tr>                                        
                </table>
            </td>
        </tr>        
        </table>

        </br>

        <table style="width:800px;border: 0px solid black;">
        <tr>
            <td>
                <div style="text-align:center;">
                    <img style="width:700px;" src="ingram_micro_trans.png"/></br>
                    </br>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="color:grey;text-align:center;font-weight:bold;" class="arial_20">
                    Ingram Micro New Zealand is delighted to provide</br> 
                    Ansible Workshops to your company</br>
                    </br>
                    Contact us now!</br>
                    </br>
                    <img style="width:700px;" src="ansible-workshop.png"/>
                    </br>
                </div>
            </td>
        </tr>
        </table>
        </br>
    </td>
    <td style="width:5%;">&nbsp;</td>
</tr>
</table>

<footer>{{ inventory_hostname }}<br />Ansible by Red Hat</footer>
</body>

</html>