<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ansible: Automation for Everyone</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<table style="width:100%;">
<tr>
    <td style="width:40%;">
        <table>
        <tr><td style="text-align:center;">
            <div>
                <img src="ansible-tower-small.png"/>
                </br></br>
            </div>
        </td></tr>
        <tr><td>
            <div class="arial_16" style="font-style:bold;color:brown;text-align:center;">
                Ansible is the easiest Automation you can use today</br>for your entire IT Infrastructure
                </br></br>
            </div>
        </td></tr>
        <tr><td>
                <table>
                    <tr>
                        <td style="width:120px;"><b>EASY</b></td>
                        <td>Ansible uses human language, not programming scripts.</br>
                        It is very quick to learn and knowledge sharing becomes very easy</br></br></td>
                    </tr>
                    <tr>
                        <td style="width:120px;"><b>POWERFUL</b></td>
                        <td>Ansible is shipped with thousands of modules which integrate to countless vendors out there</br></br></td>
                    </tr>
                    <tr>
                        <td style="width:120px;"><b>AGENTLESS</b></td>
                        <td>You do not need to install any software or agents on the remote machines</br></br></td>
                    </tr>                                        
                </table>
        </td></tr>        
        </table>
    </td>
    <td style="width:60%;">
        <table style="width:600px;border:2pt solid black;background-color:beige;">
        <tr>
            <td style="width:200px;"><div class="arial_16"><b>This Host</b></div></td>
            <td style="width:400px;"><div class="arial_16">{{ name }}</div></td>
        <tr>            
        <tr>
            <td style="width:200px;"><div class="arial_16"><b>Test Message</b></div></td>
            <td style="width:400px;"><div class="arial_16">{{ iis_test_message }}</div></td>
        <tr>
        </table>

        </br></br>

        <table>
        <tr><td>
            <img style="width:300px;" src="ingram_micro.png"/>
        </td></tr>
        <tr><td>
            <div style="color:grey;" class="arial_20">
                Ingram Micro New Zealand is delighted to provide</br>
                Ansible Workshops to your company. Contact us now!
                </br></br>
            </div>
        </td></tr>
        </table>
    </td>
</tr>
</table>

<footer>{{ inventory_hostname }}<br />Ansible by Red Hat</footer>
</body>

</html>
